<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Existencia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-danger-subtle ">
    <div class="container-fluid">
        <a href="http://localhost:5173/"><img src="/images/cake-icon.png" style="width: 60px" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="Inicio">Datos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="Pedidos-Cotizaciones">Pedidos / Cotizaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="Existencia">Existencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Usuarios">Usuarios</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Modal's -->
<div class="d-flex justify-content-center mt-4 gap-4">
    <button type="button" class="btn bg-danger-subtle" data-bs-toggle="modal" data-bs-target="#NuevoProducto">
        Nuevo Producto
    </button>
    <button type="button" class="btn bg-danger-subtle" data-bs-toggle="modal" data-bs-target="#Almacen">
        Nuevo Almacen
    </button>
</div>
<div class="modal fade" id="NuevoProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="formProducto">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Producto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="IdProducto" class="form-label">ID Producto</label>
                        <input type="number" class="form-control" id="IdProducto">
                    </div>
                    <div class="mb-3">
                        <label for="NombreProducto" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="NombreProducto">
                    </div>
                    <div class="mb-3">
                        <label for="DescripcionProducto" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" id="DescripcionProducto">
                    </div>
                    <div class="mb-3">
                        <label for="ImagenProducto" class="form-label">imagen</label>
                        <input type="file" class="form-control" id="ImagenProducto" accept="image/*">
                    </div>
                    <div class="mb-3">
                        <label for="PrecioProducto" class="form-label">Precio</label>
                        <input type="number" class="form-control" id="PrecioProducto">
                    </div>
                    <div class="mb-3">
                        <label for="Cantidad" class="form-label">Cantidad</label>
                        <input type="number" class="form-control" id="Cantidad">
                    </div>
                    <div class="mb-3">
                        <label for="AlmacenProd" class="form-label">Selecciona un almacen</label>
                        <select class="form-select" id="AlmacenProd" aria-label="Default select example">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </form>
    </div>
    <div id="AlertProducto" style="display: none" class="alert alert-success position-absolute bottom-0 start-50 translate-middle-x" role="alert">
        Producto agregado correctamente!.
    </div>
</div>
<div class="modal fade" id="Almacen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="formExistencia">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Almacen</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <div class="mb-3">
                            <label for="IdAlmacen" class="form-label">ID Almacen</label>
                            <input type="number" class="form-control" id="IdAlmacen">
                        </div>
                        <div class="mb-3">
                            <label for="NombreAlmacen" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="NombreAlmacen">
                        </div>
                        <div class="mb-3">
                            <label for="DireccionAlmacen" class="form-label">Direccion</label>
                            <input type="text" class="form-control" id="DireccionAlmacen">
                        </div>
                        <div class="mb-3">
                            <label for="TelefonoAlmacen" class="form-label">Telefono</label>
                            <input type="number" class="form-control" id="TelefonoAlmacen">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </form>
    </div>
    <div id="AlertAlmacen" style="display: none" class="alert alert-success position-absolute bottom-0 start-50 translate-middle-x" role="alert">
        Almacen agregado correctamente!.
    </div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center mt-5" >
    <div class="table-responsive">
        <table class="table table-hover table-borderless">
            <thead>
            <tr>
                <th>ID Producto</th>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Disponibilidad</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="table-group-divider" id="ProductosId">

            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>


<script>
    addEventListener('DOMContentLoaded', () => {
        const ProductosId = document.getElementById('ProductosId')
        ProductosId.innerHTML = ''
        fetch('/api/v1/Productos')
            .then(response => response.json())
            .then(data => {
                data.forEach(cotizacion => {
                    const UrlImg = "http://localhost:3000/" + cotizacion.ImagenProducto;
                    ProductosId.innerHTML +=
                        `<tr id="fila-${cotizacion.IdProducto}">
                           <td class="align-middle">${cotizacion.IdProducto}</td>
                           <td class="align-middle">
                            <img style="width: 150px" src="${UrlImg}" alt="">
                           </td>
                           <td class="align-middle">${cotizacion.NombreProducto}</td>
                           <td class="align-middle">${cotizacion.DescripcionProducto}</td>
                           <td class="align-middle">${cotizacion.PrecioProducto}</td>
                           <td class="align-middle">${cotizacion.Disponibilidad}</td>
                           <td class="align-middle">
                               <div class="dropdown">
                                   <button class="btn btn-default dropdown-toggle" type="button"
                                           data-bs-toggle="dropdown" aria-expanded="false">Opciones</button>
                                   <ul class="dropdown-menu">
                                       <li>
                                           <a href="Productos/${cotizacion.IdProducto}" class="dropdown-item">Actualizar</a>
                                       </li>
                                        <li>
                                           <button onclick="handleEliminar('${cotizacion.IdProducto}')" class="dropdown-item">Eliminar</button>
                                       </li>
                                   </ul>
                               </div>
                           </td>
                       </tr>
                   `
                })
            })
            .catch((error) => {
                console.log(error)
            })

        const selectElement = document.getElementById('AlmacenProd');
        selectElement.innerHTML = ''
        fetch('/api/v1/Almacen')
            .then(response => response.json())
            .then((data) => {
                console.log(data)
                data.forEach(almacen => {
                    const option = document.createElement('option');
                    option.value = almacen.IdAlmacen;
                    option.textContent = almacen.NombreAlmacen;
                    selectElement.appendChild(option);
                });
            })
            .catch(error => {
                console.log(error)
            })
    })

    const formExistencia = document.getElementById('formExistencia')
    formExistencia.addEventListener('submit', (e) => {
        e.preventDefault()
        const IdAlmacen = document.getElementById('IdAlmacen').value
        const NombreAlmacen = document.getElementById('NombreAlmacen').value
        const DireccionAlmacen = document.getElementById('DireccionAlmacen').value
        const TelefonoAlmacen = document.getElementById('TelefonoAlmacen').value

        const data = {
            IdAlmacen,
            NombreAlmacen,
            DireccionAlmacen,
            TelefonoAlmacen
        }

        fetch('/api/v1/Almacen', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then((data) => {
                document.getElementById('AlertAlmacen').style.display = ''
                setTimeout(() => {
                    document.getElementById('AlertAlmacen').style.display = 'none'
                },3000)
                document.getElementById('IdAlmacen').value = '';
                document.getElementById('NombreAlmacen').value = '';
                document.getElementById('DireccionAlmacen').value = '';
                document.getElementById('TelefonoAlmacen').value = '';
            })
            .catch((error) => {
                console.log(error)
            })
    })

    const formProducto = document.getElementById('formProducto');
    formProducto.addEventListener('submit', (e) => {
        e.preventDefault();

        const IdProducto = document.getElementById('IdProducto').value;
        const NombreProducto = document.getElementById('NombreProducto').value;
        const DescripcionProducto = document.getElementById('DescripcionProducto').value;
        const ImagenProducto = document.getElementById('ImagenProducto').files[0];
        const PrecioProducto = document.getElementById('PrecioProducto').value;
        const Cantidad = document.getElementById('Cantidad').value
        const selectElement = document.getElementById('AlmacenProd').value;

        const formData = new FormData();
        formData.append('IdProducto', IdProducto);
        formData.append('NombreProducto', NombreProducto);
        formData.append('DescripcionProducto', DescripcionProducto);
        formData.append('ImagenProducto', ImagenProducto);
        formData.append('PrecioProducto', PrecioProducto);
        formData.append('Cantidad', Cantidad)
        formData.append('IdAlmacen', selectElement)

        fetch('/api/v1/Productos', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                if (data.length < 1) {

                } else {
                    window.location.reload()
                }
            })
            .catch((error) => {
                console.log(error);
            });
    });

    const handleEliminar = (id) => {
        fetch(`/api/v1/Productos/${id}`, {
            method: 'DELETE'
        })
            .then(response => response.json())
            .then(data => {
                console.log(data)
            })
            .catch(error => {
                console.log(error)
            })
    }


</script>